/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 18px/1.5 "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #eeeeee;
  background-color: #232931;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,*/
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 13.5px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 12px;
  font-weight: 400;
  color: #4ecca3;
  font-weight: bold; }

/**
 * Links
 */
a {
  color: #eeeeee;
  text-decoration: none; }
  a:hover {
    color: #4ecca3;
    transition: all 0.5s ease-out; }

/**
 * Blockquotes
 */
blockquote {
  color: #fff;
  border-left: 4px solid white;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 2px solid #4ecca3;
  border-radius: 10px; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #fff; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #1f242b;
  border-bottom: 1px solid #4ecca3;
  min-height: 56px;
  width: 100%;
  background-color: #1f242b;
  position: fixed;
  z-index: 99999; }
  @media screen and (max-width: 650px) {
    .site-header {
      display: block;
      clear: both;
      text-align: center; }
      .site-header .nav-outer {
        display: table;
        margin: 0 auto; }
      .site-header .site-nav {
        display: block;
        justify-self: center; }
      .site-header li {
        display: inline-block;
        padding: 0 10px; }
      .site-header .site-title {
        display: block;
        float: none;
        clear: both;
        width: 100%; } }

.site-title {
  text-transform: none;
  font-weight: bold;
  font-size: 30px;
  padding: 0 20px;
  color: #4ecca3;
  text-align: center;
  line-height: 50px;
  letter-spacing: -1px;
  margin-bottom: 0; }

.site-nav {
  list-style: none;
  line-height: 56px;
  text-align: center; }
  .site-nav li {
    display: inline-block;
    margin: 0 10px; }
  .site-nav .page-link {
    color: #eeeeee;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase; }
    .site-nav .page-link:hover {
      color: #4ecca3;
      transition: all 0.5s ease-out; }

@media screen and (max-width: 650px) {
  .page-link-name {
    display: none; } }

.sub-nav .sub-nav-content {
  display: none;
  position: absolute;
  background: #232931;
  border: 2px solid #4ecca3;
  border-radius: 5px;
  z-index: 1;
  padding: 5px; }

.sub-nav .sub-page-link {
  display: none;
  color: #eeeeee;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5; }
  .sub-nav .sub-page-link:hover {
    color: #4ecca3;
    transition: all 0.5s ease-out; }

.sub-nav:hover .sub-nav-content {
  display: block; }

.sub-nav:hover .sub-page-link {
  display: block; }

.contact-info {
  text-align: center; }

/**
 * Site footer
 */
.site-footer {
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #4ecca3; }

/**
 * Page content
 */
.anchor {
  display: block;
  position: relative;
  top: -68px;
  visibility: hidden; }

.page-content {
  padding: 20px 0;
  padding-top: 125px; }
  .page-content h3 {
    color: #4ecca3;
    font-weight: bold; }
  .page-content .iframe-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
    display: block;
    margin: 5px auto;
    z-index: 0; }
    .page-content .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0; }
  .page-content img, .page-content video {
    display: block;
    margin: 5px auto;
    width: 60%; }

.page-heading {
  font-weight: bold;
  padding: 10px;
  margin-top: 25px;
  color: #4ecca3;
  background: #393e46;
  border-radius: 20px;
  text-align: center;
  font-size: 40px; }

.post-category-list {
  margin-left: 0;
  list-style: none;
  text-align: center; }
  .post-category-list > li {
    margin: 0 20px;
    margin-bottom: 30px;
    display: inline-block; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 10px;
    border-bottom: 2px solid #393e46; }

.blog-list {
  margin-left: 0;
  list-style: none; }
  .blog-list > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #393e46; }
    .blog-list > li img {
      width: 30%; }

.post-meta {
  font-size: 18px;
  text-align: center;
  color: #4ecca3;
  margin-bottom: 0; }

.post-link {
  text-transform: capitalize;
  font-weight: bold;
  display: inline;
  font-size: 24px; }

.post-date {
  font-size: 18px;
  color: #393e46;
  font-weight: bold; }

.post-abstract {
  margin-bottom: 10px; }

/**
 * Games
 */
.games .games-list {
  list-style: none; }
  .games .games-list .games-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
    width: 30%;
    margin: 5px; }
    .games .games-list .games-container:hover .games-overlay {
      opacity: 1; }
    .games .games-list .games-container:hover .games-image {
      opacity: 0.3;
      border-color: #4ecca3;
      background-color: #4ecca3;
      transition: .5s ease; }
  .games .games-list .games-image {
    height: 100%;
    width: 100%;
    background-color: #393e46;
    border: 4px solid #393e46;
    border-radius: 20px; }
  .games .games-list .games-link {
    display: block;
    width: 100%;
    height: 100%; }
    .games .games-list .games-link .games-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease; }
      .games .games-list .games-link .games-overlay .games-heading {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-style: normal; }

@media screen and (max-width: 650px) {
  .games {
    display: block;
    clear: both;
    text-align: center; }
    .games .games-list .games-container {
      width: 55%; } }

.games-meta-date {
  font-size: 13.5px;
  text-align: center;
  font-weight: bold;
  color: #eeeeee;
  margin-bottom: 10px; }

.games-tags {
  text-align: center;
  list-style-type: none;
  font-size: 16px;
  margin: 0; }

.games-tag {
  display: inline-block;
  padding: 3px 8px;
  margin: 3px 0;
  border-radius: 5px;
  background: #1f242b; }

.games-heading {
  height: 100%;
  width: 100%;
  color: #4ecca3;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 0; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  color: #4ecca3;
  background: #393e46;
  border-radius: 20px;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-features {
  width: 80%;
  margin: 0 auto 20px 22%;
  text-align: left; }
  .post-features a {
    font-style: italic;
    font-weight: bold; }

.post-content {
  margin-bottom: 30px; }
  .post-content p {
    margin-bottom: 10px; }
  .post-content a {
    font-style: italic;
    font-weight: bold; }
  .post-content .caption {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-style: italic; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
  .post-content .iframe-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 56.25%;
    display: block;
    margin: 5px auto; }
    .post-content .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0; }
  .post-content img {
    border-radius: 20px;
    margin-bottom: 10px;
    border: 5px solid #393e46;
    display: block;
    margin: 5px auto;
    width: 60%; }
  .post-content video {
    display: block;
    margin: 5px auto;
    width: 60%; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background-color: #272822;
  border-radius: 12px;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Inserted */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlighter-rouge .highlight {
    background-color: #272822; }
  .highlight .c {
    color: #99AA8A; }
  .highlight .err {
    color: #960050;
    background-color: #1e0010; }
  .highlight .k {
    color: #93C763; }
  .highlight .l {
    color: #ae81ff; }
  .highlight .n {
    color: #F1F2F3; }
  .highlight .o {
    color: #E8E2B7; }
  .highlight .p {
    color: #F1F2F3; }
  .highlight .ch {
    color: #99AA8A; }
  .highlight .cm {
    color: #99AA8A; }
  .highlight .cp {
    color: #99AA8A; }
  .highlight .cpf {
    color: #99AA8A; }
  .highlight .c1 {
    color: #99AA8A; }
  .highlight .cs {
    color: #99AA8A; }
  .highlight .gd {
    color: #E8E2B7; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gi {
    color: #678CB1; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #99AA8A; }
  .highlight .kc {
    color: #93C763; }
  .highlight .kd {
    color: #93C763; }
  .highlight .kn {
    color: #E8E2B7; }
  .highlight .kp {
    color: #93C763; }
  .highlight .kr {
    color: #93C763; }
  .highlight .kt {
    color: #83D8E1; }
  .highlight .ld {
    color: #EC7600; }
  .highlight .m {
    color: #FFCD22; }
  .highlight .s {
    color: #EC7600; }
  .highlight .na {
    color: #678CB1; }
  .highlight .nb {
    color: #F1F2F3; }
  .highlight .nc {
    color: #678CB1; }
  .highlight .no {
    color: #93C763; }
  .highlight .nd {
    color: #678CB1; }
  .highlight .ni {
    color: #F1F2F3; }
  .highlight .ne {
    color: #678CB1; }
  .highlight .nf {
    color: #678CB1; }
  .highlight .nl {
    color: #F1F2F3; }
  .highlight .nn {
    color: #F1F2F3; }
  .highlight .nx {
    color: #678CB1; }
  .highlight .py {
    color: #F1F2F3; }
  .highlight .nt {
    color: #E8E2B7; }
  .highlight .nv {
    color: #F1F2F3; }
  .highlight .ow {
    color: #E8E2B7; }
  .highlight .w {
    color: #F1F2F3; }
  .highlight .mb {
    color: #FFCD22; }
  .highlight .mf {
    color: #FFCD22; }
  .highlight .mh {
    color: #FFCD22; }
  .highlight .mi {
    color: #FFCD22; }
  .highlight .mo {
    color: #FFCD22; }
  .highlight .sb {
    color: #EC7600; }
  .highlight .sc {
    color: #EC7600; }
  .highlight .sd {
    color: #EC7600; }
  .highlight .s2 {
    color: #EC7600; }
  .highlight .se {
    color: #ae81ff; }
  .highlight .sh {
    color: #EC7600; }
  .highlight .si {
    color: #EC7600; }
  .highlight .sx {
    color: #EC7600; }
  .highlight .sr {
    color: #EC7600; }
  .highlight .s1 {
    color: #EC7600; }
  .highlight .ss {
    color: #EC7600; }
  .highlight .bp {
    color: #F1F2F3; }
  .highlight .vc {
    color: #F1F2F3; }
  .highlight .vg {
    color: #F1F2F3; }
  .highlight .vi {
    color: #F1F2F3; }
  .highlight .il {
    color: #FFCD22; }
